<html>
  <head>
  </head>
  <body>
    <p>
      Well, hello there!
    </p>
    <p>
      
      <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>">Sign </a> with Github account</a>
    </p>
    
  </body>
</html>
