<html>
  <head>
  </head>
  <body>
    <p>
      Well, hello there!
    </p>
    <p>

      <a href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>">Sign </a> with Github account</a>
    </p>
    <p><a href="/signup">Sign Up</a></p>
    <p><a href="/login">Log in</a></p>

  </body>
</html>
